
.heart{
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px #f20044;
    animation: palpitar 0.7s linear infinite alternate;
}


.heart::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px 20px 50px #f20044;
    
}

.heart::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 50px #f20044;
    
}
